body
{
    text-align: center;
}

.popup-title
{
    border-bottom: 1px solid black;
}

.popup
{
    box-shadow: 1px 1px 2px 2px #ccc;
    -moz-box-shadow: 1px 1px 2px 2px #ccc;
    -webkit-box-shadow: 1px 1px 2px 2px #ccc;
    padding: 10px;
    display: none;
    background: #FFF;
    border: 1px solid #CCC;
}

#axis
{
    margin: 0 auto;
    width: 120px;
    border: 1px solid black;
    margin-top: 200px;
    background: #FFF;
    height: 20px;
}